{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% trans "Sheldon Rong - Web developer based in Sydney" %}{% endblock %}</title>
    {% block page-style %}{% endblock %}
    {% if STAGING  %}
    <script src="{%  static "js/utils/less.js" %}"></script>
    {% endif %}
    {% block requirejs %}{% endblock %}
</head>
<body>
    <div id="site-header-login-wrapper"></div>
    <header id="site-header" class="navbar navbar-fixed-top" role="banner">
        <div class="container" >
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="icon-menu mobile-menu"></span>
                </button>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">
                            <span class="icon-home"></span> </span>
                            <strong>{% trans "Sheldon Rong" %}</strong>
                        </a>
                    </li>
                    <li>
                        <a href="/portfolio">
                            {% trans "Portfolio" %}
                        </a>
                    </li>
                    <li>
                        <a href="/#contact-me">
                            {% trans "Contact" %}
                        </a>
                    </li>
                    <li>
                        <a>
                            {% trans "Chat Now" %}
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if is_auth %}
                            <a href="/logout">{{ username }} (Logout)</a>
                        {% else %}
                            <a id="site-header-login">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="content" id="site-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>