<div class="input-group">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-search"> <span id="search-label" class="search-label">Any</span> <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a class="filter-column" id="filter-any" data-column="all">Any</a></li>
      <li class="divider"></li>
      <li><a class="filter-column" data-column="first_name">First Name</a></li>
      <li><a class="filter-column" data-column="last_name">Last Name</a></li>
      <li><a class="filter-column" data-column="gender">Gender</a></li>
      <li><a class="filter-column" data-column="title">Job Title</a></li>
      <li><a class="filter-column" data-column="hire_date">Hire Date</a></li>
      <li class="divider"></li>
      <li><a id="filter-clear">Clear</a></li>
    </ul>
  </div>
  <input id="search-input" type="text" class="form-control" placeholder="Search ...">
</div>