@font-face {
	font-family: 'icomoon';
    src: url('/static/fonts/icomoon.svg#icomoon') format('svg'),
         url('/static/fonts/icomoon.woff') format('woff'),
		 url('/static/fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e600";
}
.icon-calendar:before {
	content: "\e601";
}
.icon-quill:before {
	content: "\e602";
}
.icon-wordpress:before {
	content: "\e603";
}
.icon-facebook:before {
	content: "\e604";
}
.icon-html5:before {
	content: "\e605";
}
.icon-chrome:before {
	content: "\e606";
}
.icon-firefox:before {
	content: "\e607";
}
.icon-safari:before {
	content: "\e608";
}
.icon-IE:before {
	content: "\e609";
}
.icon-linkedin:before {
	content: "\e60a";
}
.icon-profile:before {
	content: "\e60b";
}
.icon-home:before {
	content: "\e60c";
}
.icon-bubble:before {
	content: "\e60d";
}
.icon-bubble2:before {
	content: "\e60e";
}
.icon-github:before {
	content: "\e60f";
}
.icon-mail:before {
	content: "\e610";
}
.icon-arrow-right:before {
	content: "\e611";
}
.icon-arrow-left:before {
	content: "\e612";
}
.icon-arrow-down:before {
	content: "\e613";
}
.icon-earth:before {
	content: "\e614";
}
.icon-search:before {
	content: "\e615";
}
.icon-spinner:before {
	content: "\e616";
}
.icon-mobile:before {
	content: "\e617";
}
.icon-checkmark-circle:before {
	content: "\e618";
}
