.carousel-metro {
    .carousel-caption {
       visibility: hidden;
       opacity: 0.8;
       &.visible {
           visibility: visible;
       }
       &.color-brand {
           background-color: @brand-primary;
       }
       &.color-blueviolet {
           background-color: blueviolet;
       }
       &.color-cyan {
           background-color: #00BBF1;
       }
       .caption-title, .caption-subtitle {
          text-shadow: none;
          text-align: left;
          visibility: hidden;
          font-family: 'Alegreya Sans', sans-serif;
          &.visible {
            visibility: visible;
          }
       }
    }

    @media (max-width: 767px) {
        .carousel-indicators {
            left: 95%;
        }
        .carousel-caption {
            width: 100%;
            bottom: 0;
            left: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            .caption-title, .caption-subtitle {
              padding-left: 20px;
              padding-right: 20px;
            }
            .caption-title {
              margin-top: 10px;
              font-size: 28px;
            }
            .caption-subtitle {
              font-size: 20px;
            }
        }
    }

    @media (min-width: 768px) {
        .carousel-caption {
            right: 5%;
            width: 30%;
            margin-bottom: 5%;
            min-height: 200px;
            left: 65%;
            .caption-title, .caption-subtitle {
              padding-left: 20px;
              padding-right: 20px;
            }
            .caption-title {
              font-size: 54px;
            }
            .caption-subtitle {
              font-size: 28px;
            }
        }
    }

    img {
      width: 100%;
    }
}