/**
 * Main Stylesheet
 */

// Bootstrap Cores
@import "./bootstrap/variables.less";
@import "./bootstrap/mixins.less";
@import "./bootstrap/normalize.less";
@import "./bootstrap/print.less";
@import "./bootstrap/scaffolding.less";
@import "./bootstrap/type.less";
@import "./bootstrap/code.less";
@import "./bootstrap/grid.less";
@import "./bootstrap/buttons.less";
@import "./bootstrap/carousel.less";
@import "./bootstrap/utilities.less";
@import "./bootstrap/responsive-utilities.less";

// Animation
@import "./utils/animated.custom.less";

// Modules
@import "./modules/carousel-metro-style.less";

@grid-columns:              12;
@grid-gutter-width:         30px;
@grid-float-breakpoint:     768px;